<div class="filters">
    <mat-form-field>
        <mat-label>Sort</mat-label>
        <mat-select>
            <!-- panelClass="sort-select"
            [(ngModel)]="sort" -->
        
            <mat-option value="name">Name</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div class="items">
    <div class="item">
        <div class="item-thumb-container">
            <img
             src="https://images.squarespace-cdn.com/content/v1/60dbaf2d53a4005476dccba9/1654719941387-TAQCE0A7JNQSKSD1GFIY/streamer+item+-+noiceguy.jpg"
             class="item-thumbnail"
             alt="thumbnail"
            />
        </div>
        <div class="item-description">
            <p class="item-name">name</p>
            <div *ngFor="let item of items | async">{{item.name}}</div>
        </div>
    </div>
</div>