* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.filters {
  max-width: 1200px;
  margin: 20px auto;
  padding-left: 20px;
}

::ng-deep {
  .mat-form-field-infix {
    background-color: #3f51b5;
  }

  .mat-select-value,
  .mat-select-arrow,
  .mat-form-field-hide-placeholder .mat-select-placeholder,
  .mat-form-field-appearance-legacy .mat-form-field-label {
    color: #fff !important;
    opacity: 1;
  }

  .mat-form-field-infix {
    border-color: #fff !important;
    border-top: none;
    padding-left: 5px !important;
  }

  .mat-form-field-appearance-legacy .mat-form-field-label {
    padding-left: 5px;
  }

  .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: #fff !important;
  }
}

.loading {
  justify-content: center;
  color: #fff;
  display: flex;
  font-weight: 700;
  font-size: xxx-large;
  min-width: 100%;
  margin: 20px auto;
  margin-top: 10%;
}

.error {
  justify-content: center;
  color: red;
  display: flex;
  font-weight: 700;
  font-size: xxx-large;
  min-width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  margin-top: 33%;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 20px auto;
}

.alert {
  color: red;
}

.item {
  width: 192px;
  margin: 10px;
  height: 330px;
  overflow: hidden;
  border-radius: 5px;
  background-color: #202020;
  box-shadow: 4px 3px 8px 0px rgb(200 152 44 / 22%);
  transition-duration: 0.3s;
  cursor: pointer;

  &:hover {
    box-shadow: 4px 3px 11px 6px rgb(200 152 44 / 46%);
    transform: translateY(-3px);
  }

  &-thumb-container {
    background-color: #000;
    position: relative;
    height: 192px;
    color: #fff;
    text-align: center;
  }

  &-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 192px;
  }

  &-description {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 157px;
    font-weight: 600;
    color: rgb(191, 189, 189);
    letter-spacing: 0.1rem;
  }

  &-name {
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    padding-bottom: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-platforms {
    display: flex;
  }

  &-platform {
    width: 20px;
    margin-right: 10px;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination li {
  display: inline-block;
}

.pagination li a {
  display: block;
  padding: 0.5rem 0.75rem;
  color: #007bff;
  text-decoration: none;
  border: 1px solid rgba(37, 37, 37, 0.5);
}

.pagination li.active a {
  background-color: #007bff;
  color: #fff;
  border: none;
}

.pagination li.disabled a {
  color: #6c757d;
  cursor: not-allowed;
}

.pagination li a:hover,
.button-page:hover {
  color: #3494fa;
  cursor: pointer;
}

.button-page {
  background-color: transparent;
  border: none;
  color: #007bff;
  padding: 0 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

@media only screen and (max-width: 600px) {
  .pagination {
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
  }

  .item {
    width: 40%;
    margin: 10px;
    height: 250px;
    overflow: hidden;
    border-radius: 5px;
    background-color: #202020;
    box-shadow: 4px 3px 8px 0px rgb(200 152 44 / 22%);
    transition-duration: 0.3s;
    cursor: pointer;

    &-thumb-container {
      background-color: #000;
      position: relative;
      height: 96px;
      color: #fff;
      text-align: center;
      margin-bottom: 20px;
    }

    &-thumbnail {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      height: 96px;
      width: 100%;
    }

    &-description {
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 157px;
      font-weight: 600;
      color: rgb(191, 189, 189);
      letter-spacing: 0.1rem;
    }
  }
}
