<div class="filters">
    <mat-form-field>
        <mat-label>Sort</mat-label>
        <mat-select>
            <!-- panelClass="sort-select"
            [(ngModel)]="sort" -->

            <mat-option value="name">Name</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div *ngIf="loading" class="loading">LOADING...</div>
<div *ngIf="error">ERROR</div>
<div class="items">
        <div *ngFor="let item of items" class="item">
            <div class="item-thumb-container">
                <img src="{{item.iconLink}}" class="item-thumbnail" alt="thumbnail" />
            </div>
            <div class="item-description">
                <p class="item-name">{{item.shortName}}</p>
                <p class="item-price">Base price: {{item.basePrice}}</p>
                <p *ngIf="item.avg24hPrice != 0" class="item-flea-price">Flea avg price:{{item.avg24hPrice}}</p>
                <p *ngIf="item.avg24hPrice == 0" class="item-flea-price alert">BANNED FROM FLEA</p>
            </div>
        </div>

</div>
<div *ngIf="loading">LOADING...</div>